name: Android CI (scoped)

on:
  push:
    branches: [ "main" ]
    paths:
      - 'android/**'
      - '**/*.gradle*'
      - 'gradle/**'
      - 'build.gradle'
      - 'build.gradle.kts'
      - 'settings.gradle'
      - 'settings.gradle.kts'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'android/**'
      - '**/*.gradle*'
      - 'gradle/**'
      - 'build.gradle'
      - 'build.gradle.kts'
      - 'settings.gradle'
      - 'settings.gradle.kts'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
